[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
apixu = {file = "https://github.com/apixu/apixu-python/archive/v0.2.0.zip"}
python-dotenv = "*"
pandas = "*"

[requires]
python_version = "3.7"
